.login-page {
    header {
        padding: 15px 28px 15px 24px;

        .logo-container {
            @extend %flex-center;
            height: 60px;
            float: left;

            &:hover {
                text-decoration: none;
            }

            & span {
                @extend %flex-center;
            }

            .logo__brand {
                margin-left: 4px;
                color: $red;
                font-size: 20px;
                font-weight: 700;
            }
        }

        nav {
            float: right;

            ul {
                display: flex;
                align-items: center;

                li {
                    &:not(:last-child) {
                        padding: 16px;
                    }

                    a {
                        display: block;
                    }

                    &.buttons {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: 24px;

                        button {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
