header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 28px 15px 24px;

    h3 {
        color: $red;
        font-size: 20px;
        font-weight: 700;
    }
    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            li {
                padding: 16px;
                a {
                    color: $black;
                    font-size: 16px;
                    font-weight: 700;

                    &:hover {
                        color: $black;
                        text-decoration: underline;
                    }
                }
            }
        }
        .buttons {
            display: flex;
            margin-left: 24px;

            button {
                padding: 8px 12px;
                border-radius: $radius-btn;

                font-size: 16px;
                font-weight: 700;
            }

            .login {
                color: $white;
                background-color: $red;

                &:hover,
                &:active,
                &:focus {
                    background-color: $red-hovered;
                }
            }

            .signup {
                margin-left: 16px;
                background-color: $gray-light;

                &:hover,
                &:active,
                &:focus {
                    background-color: $gray-hovered;
                }
            }
        }
    }
}
